



<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Producto</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#prop" role="tab" aria-controls="prop" aria-selected="false">Propiedades</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Skus</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">

    <!-- Pestaña producto -->
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

        <div class="container" [formGroup]="formEdicionProducto">
            <div class="row mt-3 align-middle">
                <div class="col col-md-6">
                    <div class="row">
                        <div class="col-10">
                            <label class="ml-1"> Nombre</label>
                            <input formControlName="nombre" type="text" class="form-control" [class.is-invalid]="nombreInvalido">
                            <small *ngIf="nombreInvalido" class="text-danger">Ingrese un nombre válido.</small>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label class="ml-1">Producto activo</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col offset-1">
                                    <mat-slide-toggle formControlName="activo">{{formEdicionProducto.get('activo').value ? 'Si' : 'No'}}</mat-slide-toggle>
                                </div>                                
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label class="ml-1">Producto destacado</label>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col offset-2">
                                    <mat-slide-toggle formControlName="destacado">{{formEdicionProducto.get('destacado').value ? 'Si' : 'No'}}</mat-slide-toggle>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <label class="ml-1">Descripción</label>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <textarea formControlName="descripcion" style="max-height: 150px; min-height: 150px;" class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-3 offset-md-4">
                            <!-- <button class="btn btn-block btn-secondary" style="border: none;">
                                Cancelar
                            </button> -->
                        </div>
                        <div class="col-3">
                            <button class="btn btn-block btn-primary" style="background-color: #1f4e84; border: none;" (click)="editarProducto()">
                                Editar
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    
                    <div class="row">
                
                        <div class="col-12 col-md">

                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <img [src]="imageSrc ? imageSrc : '../../../../assets/imagenes/noimage.png'"
                                            class="card-img-top mx-auto mt-1 ml-md-5" style="width: 170px; height: auto;">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card-body">
                                            <h5 class="card-title">Imagen principal</h5>
                                            <p class="card-text"><small>Los formatos admitidos son .PNG, .JPG. El tamaño máximo de la imagen del producto es
                                                de 1MB.</small></p>
                                            
                                            <div class="input-group" [formGroup]="formEditarImagenPrincipal">
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile04"
                                                        aria-describedby="inputGroupFileAddon04" formControlName="file"
                                                        (change)="onFileChange($event)">
                                                    <label class="custom-file-label">Buscar</label>
                                                </div>
                                                <div class="input-group-append" for="inputGroupFile04">
                                                    <button class="btn btn-primary" style="background-color: #1f4e84; border: none;" type="button"
                                                        id="inputGroupFileAddon04" (click)="editarImagenPrincipal()">Subir</button>
                                                </div>
                                            </div>

                                            

                                        </div>

                                        
                                    </div>
                                </div>
                                <div class="card-footer" style="background: none;">
                                    <div class="row ml-md-2 imageResalt">
                                        <app-img-secundarias *ngFor="let imagen of producto.imagenes" 
                                            [imagen]="imagen" 
                                            [producto]="producto" 
                                            (propagar)="actualizarProductoAEditar()">
                                        </app-img-secundarias>
                                        <app-nueva-img-secundaria 
                                            [producto]="producto" 
                                            (propagar)="actualizarProductoAEditar()"
                                            *ngFor='let in of counter(numeroDeRepeticionesPlus)'>
                                        </app-nueva-img-secundaria>
                                    </div>
                                </div>
                            </div>
        
                            
        
                           
                        </div>
        
                        
        
                    </div>

                    <div class="row">
                        <div class="col">
                            <label>Precio</label>
                            <div class="input-group flex-nowrap" [formGroup]="formEditarPrecio">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="addon-wrapping">$</span>
                                </div>
                                <input [class.is-invalid]="precioInvalido" formControlName="precio" type="number" class="form-control" placeholder="Precio" aria-label="Precio" aria-describedby="addon-wrapping">
                                <div class="input-group-append">
                                    <button [disabled]="producto.skus.length > 0" class="btn btn-primary" style="background-color: #1f4e84; border: none;" (click)="editarPrecio()">
                                        Editar
                                    </button> 
                                </div>
                                
                            </div>
                            <small *ngIf="precioInvalido" class="text-danger">Ingrese precio válido.</small>                        
                        </div>
                        <div class="col">
                            <label>Disponibilidad</label>
                            <div class="input-group flex-nowrap" [formGroup]="formEditarDisponibilidad">
                                <input [class.is-invalid]="disponibilidadInvalida" formControlName="disponibilidad" type="number" class="form-control" placeholder="Precio" aria-label="Precio" aria-describedby="addon-wrapping">
                                <div class="input-group-append">
                                    <button [disabled]="producto.skus.length > 0" class="btn btn-primary" style="background-color: #1f4e84; border: none;" (click)="editarDisponibilidad()">
                                        Editar
                                    </button>
                                </div>
                            </div>
                            <small *ngIf="disponibilidadInvalida" class="text-danger">Ingrese una disponibilidad válida.</small>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        

    </div>

    <!-- Pestaña sku -->
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

        <app-sku-edit [skus]="producto.skus"></app-sku-edit>

    </div>

    <div class="tab-pane fade" id="prop" role="tabpanel" aria-labelledby="profile-tab">

        

    </div>

</div>


<ng-template #secundaria let-modal id="secundary">
    <div class="modal-header">
      <h4 class="modal-title">Nueva imagen secundaria</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
        <div class="container">
            <div class="col mb-4">
              <div class="card">
                <img [src]="imageSrcSecundaria ? imageSrcSecundaria : '../../../../assets/imagenes/noimage.png'" class="card-img-top mx-auto mt-1" alt="..." style="width: 150px; height: auto;">
                <div class="card-body" [formGroup]="formNuevaImagenSecundaria">
                  <div class="row">
                    <div class="col">
      
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                                 formControlName="file" (change)="onSecundariaChange($event)">
                          <label class="custom-file-label">Elige una imagen</label>
                        </div>
                      </div>
      
                    </div>
                  </div>
      
      
                  <div class="row mt-3">
                    <div class="col text-right">
                      <button class="btn btn-primary" style="background-color: #1f4e84; border: none;" (click)="agregarImgSecundaria()">
                        Aceptar
                      </button>
                    </div>
                  </div>
      
                </div>
              </div>
          </div>
          </div>
  
    </div>
    
  </ng-template>