

<div class="row mt-3">
    <div class="col text-right">
        <button class="btn btn-primary" style="background-color: #1f4e84; border: none;">
            Nuevo banner
        </button>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 mt-4">
    <div class="col mb-4">
      <div class="card">
        <img src="../../../../assets/imagenes/bannerCalzado1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../../assets/imagenes/bannerCalzado2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../../assets/imagenes/bannerCalzado3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>