<form class="form-img" id="form-img" autocomplete="off">
    <div class="row box-img">
        <div class="col izq">
            <div class=" row images">
                <i class="fas fa-medal" *ngIf="newProduct?.destacado"></i>
                <img  id="img-ppal" [src]="url">
                <img  id="no-img" src="../../../../assets/imagenes/noimage.png">

            </div>
            <div class="row info" >
                <p class="nombre-prod">{{newProduct?.nombre}}</p>
                <p class="items">Precio: <span>{{newProduct?.precio | currency:'EUR':'symbol'}}</span></p>
                <p class="items oferta" *ngIf="newProduct?.promocion">Precio de Oferta: <span>{{newProduct?.promocion.precioOferta | currency:'EUR':'symbol'}}</span></p>
                <p class="items">Disponibilidad Gral.: <span>{{newProduct?.disponibilidadGeneral}} {{newProduct.unidadMedida?.codigo}}.</span></p>
                <p class="items">Marca: <span>{{newProduct?.marca.nombre}}</span></p>
                <p class="items">Subcategoria: <span>{{newProduct?.subcategoria.nombre}}</span></p>
                <p class="items" *ngIf="listaDePropiedades!== null">Propiedades: <span>{{listaDePropiedades}}</span></p>
                <p class="items" *ngIf="listaDePropiedades ==null ">Propiedades: <span>-</span></p>
                <p class="items" *ngIf="newProduct?.descripcion">Descripción: <span>{{ (newProduct?.descripcion.length>240) ? (newProduct?.descripcion | slice:0:240)+'...' : (newProduct?.descripcion)}}</span></p>
                <p class="items" *ngIf="!newProduct?.descripcion">Descripción: <span>-</span></p>
            </div>
        </div>
       
        <div class="col der">
            <div class="row add-img">
                <h2 *ngIf="listaDePropiedades==null" >Imágen:</h2>
                <p>Añada una fotografía principal de su producto.
                    <br>
                    <span>- Recomentamos utilizar un tamaño cuadrado , sin fondo o con fondo blanco. -</span>
                </p>
                <input type="file" id="add-files" (change)="readUrl($event)" accept=".png, .jpg, .jpeg">
    
            </div>
            <div class="row add-promo" *ngIf="listaDePropiedades==null" >
                <h2>Promoción:</h2>
                <p class="promo" (click)="openCentrado(promo);promoProd(newProduct)" >Añadir promoción.</p>
                <ng-template  class="modal-promosku" #promo let-modal>
                    <div class="modal-header">
                        <h4 class="modalTitle">
                            Editar combinación</h4>
                        <button class="close" aria-label="close" type="button" (click)="modal.dismiss();getProduct()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" class="form-promo-sku">
                            <app-form-promo-product></app-form-promo-product>
                        </form>
                    </div>

                </ng-template>
            </div>
            <button  matStepperNext    id="btn-guardar" *ngIf="listaDePropiedades!==null" (click)="guardarCambios()" > Guardar y Continuar</button>
            <button  matStepperNext *ngIf="listaDePropiedades ==null"   id="btn-guardar" (click)="guardarCambios();cerrarForm()" > Guardar y Finalizar</button>

        </div>
        
        
    </div>
   

</form>