$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);
 $color-wf1:#223e66;
 $color-wf2:#1f4e84;
 $color-wf3:#2779cd;
 $color-wf4:#70b8f3;
 
::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #1f4e8494;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #1f4e84;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.form-img{
    width: 100%;
    .box-img{
        display: flex;
        justify-content: space-between;
        // align-items: flex-start;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        .izq{
            width: 45%; 
            border: 1px solid  rgba(230, 219, 219, 0.658);
            border-radius: 15px;
            padding-top: 10px;
            .images{
                .fa-medal{
                    position: absolute;
                    z-index:4;
                    top: 20px;
                    left:123px;
                    color:$color-wf3;
                    font-size:1.7em;
                      transform:rotate(-170deg);
                }
                #img-ppal{
                   width: 200px;
                   height: 200px;
                   display: none; 
                   margin-left: auto;
                     margin-right: auto;
                }
                #no-img{
                    width: 200px;
                   height: 200px;
                   margin-left: auto;
                    margin-right: auto;
                }
            }
            .info{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                border-radius: 0px 0px 15px 15px;
                padding: 10px 45px;
                background-color: rgba(230, 219, 219, 0.452);
                &:hover{
                    cursor: default;
                }
                .nombre-prod{
                    font-family: $fte-sec;
                    text-transform: capitalize;
                    font-size: 17px;
                }
                .items{
                    font-family: $fte-sec;
                    font-size: 13px;
                    font-style: italic;
                    line-height: 15px;
                    span{
                        font-size: 12px;
                    }
                }
                .oferta{
                    color: $color-wf2;
                    font-weight: bold;
                }
            }
        }
        .der{
            width: 55%;
            padding:20px 0px 20px 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .add-img{
                outline: none;
                margin-bottom: 35px;
                h2{
                    font-family: $fte-sec;
                    color: $color-wf1;
                }
                p{
                font-family: $fte-sec;
                font-size: 15px;
                margin-bottom: 25px;
                margin-left: 30px;
                span{
                    font-family: $fte-sec;
                    font-style: italic;
                    color: rgb(153, 147, 147);
                    font-size: 13px;
                }
                }
                #add-files{
                    font-size: 13px;
                    display: block;
                    outline: none;
                    width: 350px;
                    overflow: hidden;
                    margin-left: auto;
                    margin-right: auto;
                }
                
            }
            .add-promo{
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;
                h2{
                    font-family: $fte-sec;
                    color: $color-wf1;
                }
                .promo{
                font-size: 15px;
                display: block;
                color: $color-wf3;
                margin-left: 30px;
                &:hover{
                    cursor: pointer;
                }
            }
            }
            .fila{
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;   
                    h2{
                        font-family: $fte-sec;
                        color: $color-wf1;
                    }           
                    .availability-container{
                        margin-left: 30px;
                        #availability{
                            border: none;
                            outline: none;
                            margin-left: 8px;
                            font-size: 14px;
                            padding-right: 3px;
                            padding-left: 3px;
                            width: 30px;
                            border-bottom: 1px solid grey;
                            &:focus{
                                border-bottom: 2px solid $color-wf3;
                            }
                            &.is-invalid{
                                border-bottom: 1px solid red;
                            }
                        } 
                    }   
                    .producto-destacado{
                        display: flex;
                        align-items: baseline;
                        margin-top: 10px;
                        margin-left: 30px;
                        .destacado{
                            margin-right: 15px;
                        }
                    } 
            }
            #btn-guardar{
                background-color: $color-wf1;
                font-family: $fte-sec;
                border: none;
                color: white;
                width: 42%;
                font-size: 15px;
                padding-top: 5px;
                padding-bottom: 6px;
                padding-right: 12px;
                padding-left: 12px;
                border-radius: 7px;
                margin-left: 55%;
                display: block;
                &:hover{
                    background-color: $color-wf2;
                    cursor: pointer;
                }
                &:focus{
                    outline: none;
                }
            }  
        }
        
        
    }
    .check-sku{
        display: flex;
        margin-bottom: 45px;
        align-items: baseline;
        #combinations{
            margin-right: 10px;
            margin-top: -5px;
            margin-bottom: -20px;
           
        }
    }
}


.imageResalt{
    :hover{
        transform: scale(1.20)
    };
  }