<form class="form-img" id="form-img" autocomplete="off">
    <div class="row box-img">
        <div class="add-img">
            <p>Añada una fotografía principal de su producto.
                <br>
                <!-- <span>-Hasta 6 fotografías permitidas-</span> -->
            </p>
            <input type="file" id="add-files" (change)="readUrl($event)" accept=".png, .jpg, .jpeg">

        </div>
        <div class="images">
            <img id="img-ppal" [src]="url">
        </div>
    </div>
    <div>
        <p>{{newProduct?.nombre}}</p>
        <p>prueb</p>
    </div>

</form>