
<mat-horizontal-stepper  linear id="bg" >
    <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step label="Agregar Producto"[completed]="productoCreado" >
        <app-step1></app-step1>
    </mat-step>

    <mat-step label="Imagen y Oferta"  [completed]="mostrarStep3">
        <app-step2 [newProduct]="newProduct" *ngIf="productoCreado"></app-step2>
    </mat-step>

    <mat-step label="Generar Combinaciones"  *ngIf="mostrarStep3">
        <app-step3 [newProduct]="newProduct" ></app-step3 >

    </mat-step>
</mat-horizontal-stepper>


<!-- 
    <div class="container-steps">
        
       
        <div class="frame step1" id="step1">
            <div class="title">
                <h3> <img src="../../../assets/imagenes/nro-uno.png" alt=""> Información general</h3>
            </div>
            <app-step1></app-step1>
        </div>

        <div *ngIf="step2" class="frame step2" id="step2">
            <div class="title">
                <h3> <img src="../../../assets/imagenes/nro-dos.png" alt=""> Combinaciones posibles</h3>
            </div>

            <app-step2  [newProduct]="newProduct" ></app-step2>
        </div>
    </div> -->
