<section>
    <app-user-sidebar></app-user-sidebar>
    <div class="container-favorites">
        <div class="frame">
            <div class="title">
                <h2>Mis Favoritos</h2>
            </div>
            <div class="favorites-list">
                <ul >
                    <div  *ngFor="let favorito of favoritos">
                        <app-card-favorite [favorito]="favorito"></app-card-favorite>
                    </div>
                    
                </ul>
            </div>
        </div>
    </div>
</section>